<script src="https://unpkg.com/@signalwire/js"></script>
<script type="text/javascript" src="https://webrtc.github.io/adapter/adapter-latest.js"></script>

<div class="container">
  <div class="row">
    <div class="col">
      <h5>Remote Video (room: <%= @room %>, user: <%= @user %>)</h5>
      <div>Room URL: <a href="<%= @room_url %>"><%= @room_url %></a></div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div id="rootElement"></div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <input type="text" id="url" class="form-control" value="https://storage.googleapis.com/gtv-videos-bucket/sample/ForBiggerFun.mp4">
      <button class="btn btn-success" onclick="play()">Play</button>
    </div>
    <div class="col">
      <button class="btn btn-danger" onclick="hangup()">Hangup</button>
    </div>
  </div>
</div>

<script type="text/javascript">
    var roomSession = null;
    var token = "<%= @token %>";

    ready(function() {
      connect();
    });

    /**
     * Connect with Relay creating a client and attaching all the event handler.
    */
    function connect() {
      roomSession = new SignalWire.Video.RoomSession({
        token,
        rootElement: document.getElementById("rootElement"),
      });

      roomSession.on('room.joined', (params) =>
        console.debug('>> DEMO room.started', params)
      )
      roomSession.on('member.joined', (params) =>
        console.debug('>> DEMO member.joined', params)
      )

      roomSession.join()
    }

  /**
    * Hangup the rtcSession if present
  */
  function hangup() {
    if (roomSession) {
      roomSession.leave()
    }
  }

  function play() {
    if (roomSession) {
      var url = document.getElementById("url").value
      console.log('url', url)
      roomSession.play({ url })
    }
  }

  // jQuery document.ready equivalent
  function ready(callback) {
    if (document.readyState != 'loading') {
      callback();
    } else if (document.addEventListener) {
      document.addEventListener('DOMContentLoaded', callback);
    } else {
      document.attachEvent('onreadystatechange', function() {
        if (document.readyState != 'loading') {
          callback();
        }
      });
    }
  }
</script>
